a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background: transparent;
    text-decoration: underline;

}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
.links a:link,a:visited{
    background-color: #f44336;
    color: white;
    text-decoration: none;
    padding:10px 15px;
    text-align: center;
    display: inline-block;
}
.links a:hover,a:active{
    background-color: red;
}